.btnEditar{
    background-color: rgb(7, 168, 7);
    color: white;
    margin-right: 1vw;
}

.btnEditar:hover{
    background-color: rgb(144, 240, 54) ;
    color: white;
}

#btnCrear{
    background-color: rgb(7, 168, 7);
    color: white;
}

#btnCrear:hover{
    background-color: rgb(144, 240, 54) ;
    color: white;
}

.btnGuardar{
    background-color: rgb(7, 168, 7);
    color: white;
}

.btnGuardar:hover{
    background-color: rgb(144, 240, 54) ;
    color: white;
}